* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, 'Josefins';
}


.home{
    height: 100vh;
    max-width: 100%;
    min-width: 300px; 
    background: url(/images/fundogif.gif);
}


.sonic-jump{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 135px;
    
}

.sonic-jump img {
    width: 250px;
}



h2{
    font-size: 30px;
  padding-top: 40px;
  text-align: center;
  color: #ffffff;
  font-weight: 800;
  text-shadow:  -2px -1px 0px #00ff37;
  
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
  
}

a{
    text-decoration: none;
    background-color: #0329ff;
    color: white;
    border: solid 2px white;
    font-size: large;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 25px;
    transition: 1s;
}

a:hover{
    background: transparent;
}

@media screen and (max-width: 768px){
   
}